.profile__add-button {
  width: 150px;
  height: 50px;
  padding: 14px 64px;
  border: 2px solid #fff;
  box-sizing: border-box;
  transition: opacity .4s linear;
  cursor: pointer;
}
.profile__add-button:hover {
  opacity: .6;
  transition: opacity .4s linear;
}
@media screen and (max-width:768px) {
  .profile__add-button {
    width: 110px;
    height: 40px;
    padding: 10px 30px;
  }
}
@media screen and (max-width:600px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
    padding: 15px 131px;
  }
}
