.popup__item_add::-webkit-input-placeholder {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 17px;
}
.popup__item_add::-moz-placeholder {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 17px;
}
.popup__item_add::-ms-input-placeholder {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 17px;
}
.popup__item_add::placeholder {
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 17px;
 color: #C4C4C4;
}
