.profile__prof {
  margin: 0;
  max-width: 294px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  padding-top: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media screen and (max-width:768px) {
  .profile__prof {
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (max-width:430px) {
  .profile__prof {
    max-width: 282px;
    text-align: center;
    line-height: 17px;
  }
}
