.popup__item {
  border: 0;
  padding: 0;
  margin-top: 54px;
  max-width: 358px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
}
.popup__item:nth-last-child(2) {
  margin-top: 30px;
}

@media screen and (max-width:580px) {
  .popup__item {
    max-width: 238px;
    margin-top: 75px;
  }
}

/* .popup__item::-webkit-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.popup__item::-moz-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.popup__item::-ms-input-placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}
.popup__item::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
} */
