.popup__cross {
  border: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -32px;
  right: -32px;
  transition: opacity .4s linear;
  background-color: #000;
  background-image: url(../../../images/Closeicon.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.popup__cross:hover {
  cursor: pointer;
  opacity: .6;
}
@media screen and (max-width:580px) {
  .popup__cross {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0px;
  }
}
